Development/BattleShip/ex*/Debug/
Development/BattleShip/ex*/BattleShip_ex*/Debug/
Development/BattleShip/ex*/.vs/BattleShip/v14/.suo
Development/BattleShip/ex*/.vs/ex*/v14/.suo
Development/BattleShip/ex*/BattleShip.VC.db
Development/BattleShip/ex*/BattleShip.VC.VC.opendb
Development/BattleShip/ex*/BattleShip_ex1/x64/
Development/BattleShip/ex*/x64/

Development/BattleShip/Debug/
Development/BattleShip/BattleShip_ex*/Debug/
Development/BattleShip/.vs/BattleShip/v14/.suo
Development/BattleShip/BattleShip.VC.db
Development/BattleShip/BattleShip.VC.VC.opendb
Development/BattleShip/BattleShip_ex1/x64/
Development/BattleShip/x64/

Development/Testing
build
Development/CMakeLists.txt
Development/BattleShip/ex1/x64/
Development/BattleShip/ex2/x64/
Development/BattleShip/x64/
Development/BattleShip/ex2_FileAlgo/x64/
Development/BattleShip/ex2_NaiveAlgo/x64/
Development/BattleShip/ex2_SmartAlgo/x64/
