Development/BattleShip/Debug/
Development/BattleShip/BattleShip_ex1/Debug/
Development/BattleShip/.vs/BattleShip/v14/.suo
Development/BattleShip/BattleShip.VC.db
Development/BattleShip/BattleShip.VC.VC.opendb
Development/BattleShip/BattleShip_ex1/x64/Debug/
Development/BattleShip/x64/Debug/
Development/Testing
build
Development/CMakeLists.txt
Development/BattleShip/BattleShip_ex1/x64/
Development/BattleShip/x64/
